<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/dictionary.css">
  <link rel="stylesheet" href="/css/includes/footer.css">
  <link rel="stylesheet" href="/css/components/button.css">
  </head>

	<body>
    <main class="main">
      <h1>Тут згодом можна буде шукати слова</h1>
    </main>
    <%- include('../includes/footer.ejs') %>
	</body>
<%- include("../includes/end") %>
