<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/dictionary.css">
  <link rel="stylesheet" href="/css/includes/footer.css">
  <link rel="stylesheet" href="/css/components/button.css">
  <link rel="stylesheet" href="/css/components/input.css">
  </head>

	<body>
    <main class="main">
      <form class="search__form">
        <%- include('../components/input.ejs', {
          id: "search",
          label: "Пошук",
          placeholder: '"Введіть сюди ваше слово"',
          className: "search__input",
          labelClassName: "search__input-label"
        }); %>

        <button class="search__icon-container">
          <img class="search__icon" src="/assets/icons/search.svg" alt="search icon">
        </button>
      </form>

      <section class="search-results">
        <h2 class="search-results__heading hidden">Результати</h2>

        <div class="search-result">
          <div class="word-container">
            <h3 class="word hidden"></h3>
            <div class="badges">
            </div>
          </div>
          <div class="transcription hidden">
            <button class="play-transcription-btn hidden">
              <img src="/assets/icons/audio.svg" alt="audio icon">
            </button>
            <p class="transcription-content"></p>
          </div>
        </div>

        <div class="definitions hidden">
          <h3 class="definitions__header">Визначення</h3>
        </div>
      </section>
    </main>
    <%- include('../includes/footer.ejs') %>

    <script src="/js/dictionary.js"></script>
    <script>
      Library.configure();
    </script>
	</body>
<%- include("../includes/end") %>
