<%- include("../includes/head") %>
<link rel="stylesheet" href="/css/pages/home.css">
</head>
<body>
  <h1><span class="black-text">Онлайн</span> <span class="gradient-text">словник</span></h1>

  <button class="test-auth">Перевір чи авторизований</button>
</body>

<script src="/js/home.js"></script>
<script>
  Library.configure();
</script>
<%- include("../includes/end") %>
