<%- include("../includes/head") %>
  <link rel="stylesheet" href="/css/pages/home.css">
  <link rel="stylesheet" href="/css/includes/footer.css">
  </head>
	<body>
    <main class="main">
      <h1>Онлайн словник</h1>
      <button class="test-auth">Перевір чи авторизований</button>
    </main>
	</body>

  <%- include('../includes/footer.ejs') %>

  <script src="/js/home.js"></script>
  <script>
    Library.configure();
  </script>
<%- include("../includes/end") %>
