<%- include("../includes/head") %>
  </head>
	<body>
    <h1>Онлайн словник</h1>

    <button class="test-auth">Перевір чи авторизований</button>
	</body>

  <script src="/js/home.js"></script>
  <script>
    Library.configure();
  </script>
<%- include("../includes/end") %>
