<%- include("../includes/head") %>
  </head>
	<body>
		<h1>Реєстрація</h1>

    <form class="form">
      <div class="form-control">
        <label for="full-name">Повне імʼя</label>
        <input type="text" id="full-name" placeholder="John Doe">
      </div>

      <div class="form-control">
        <label for="email">Email</label>
        <input type="text" id="email" inputmode="email" placeholder="example@gmail.com">
      </div>

      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="•••••••••">
      </div>

      <button type="submit" class="button">Зареєструватися</button>
    </form>

    <a href="/sign-in">Увійти</a>

    <script src="/js/sign-up.js"></script>
    <script>
      Library.configure({ routePath: "<%= routePath %>" })
    </script>
	</body>
<%- include("../includes/end") %>
