<%- include('../includes/head') %>
	<body>
		<h1>Реєстрація</h1>

    <form>
      <div class="form-control">
        <label for="full-name">Повне імʼя</label>
        <input type="text" id="full-name" placeholder="John Doe">
      </div>

      <div class="form-control">
        <label for="full-name">Email</label>
        <input type="text" id="full-name" inputmode="email" placeholder="example@gmail.com">
      </div>

      <div class="form-control">
        <label for="full-name">Password</label>
        <input type="password" id="password" placeholder="•••••••••">
      </div>

      <button type="submit" class="button">Зареєструватися</button>
    </form>
	</body>
<%- include('../includes/end') %>
