<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>

    <meta name="description" content="Онлайн-словник — це ваш надійний ресурс для пошуку та вивчення слів. Він пропонує швидкий і точний пошук значень, синонімів, антонімів та прикладів вживання. Наша обширна база даних словникових слів доступна 24/7, щоб допомогти збагатити ваш словниковий запас і поліпшити розуміння мови." />
    <meta property="og:title" content="Online Dictionary: Шукай та відкривай для себе нові слова" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://online-dictionary.site/" />
    <meta property="og:image" content="/assets/images/og-image.png" />

    <meta property="og:description" content="Онлайн-словник — це ваш надійний ресурс для пошуку та вивчення слів. Він пропонує швидкий і точний пошук значень, синонімів, антонімів та прикладів вживання. Наша обширна база даних словникових слів доступна 24/7, щоб допомогти збагатити ваш словниковий запас і поліпшити розуміння мови." />
    <meta property="og:site_name" content="Online Dictionary" />
    <meta property="og:locale" content="uk_UA" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <link rel="shortcut icon" href="/assets/images/website-logo.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/website-logo.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap" rel="stylesheet">
