*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font-size-100: 11px;
	--font-size-200: 12px;
	--font-size-300: 13px;
	--font-size-400: 14px;
	--font-size-500: 16px;
	--font-size-600: 18px;
	--font-size-700: 20px;
	--font-size-800: 28px;
	--font-size-900: 48px;
	--font-size-950: 72px;

	--color-white: #fff;
	--color-black: #000;
	--color-red: #e85252;
	--color-blue: #296faf;
	--color-red-200: #741111;
	--color-blue: #296faf;

	--color-grey-100: #afafaf;
	--color-grey-200: #747474;
	--color-grey-300: #d9d9d9;
}

body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	font-family: Inter, Arial, sans-serif;
	font-size: var(--font-size-400);
	color: var(--color-black);
	line-height: 1.5;
}
