.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	border-radius: 50px;
	border: 2px solid transparent;
	background-color: var(--color-red);
	color: var(--color-white);
	font-size: var(--font-size-700);
	line-height: 24px;
	width: 100%;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.button:hover,
.button:active,
.button:focus {
	border-color: var(--color-red);
	color: var(--color-red);
	background-color: var(--color-white);
	text-decoration: none;
}

@media (max-width: 480px) {
	.button {
		font-size: var(--font-size-400);
		padding: 5px;
	}
}
