.form-control {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.form-control label {
	font-size: var(--font-size-500);
	line-height: 19px;
}

.input {
	padding: 15px 16px;
	border-radius: 16px;
	border: 1px solid var(--color-grey-100);
	outline: none;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	background-color: rgba(175 175 175 / 20%);
}

.input:hover,
.input:active {
	border-color: var(--color-grey-300);
	background-color: rgba(175 175 175 /15%);
}

@media (max-width: 320px) {
	.form-control label {
		font-size: var(--font-size-300);
	}

	.input {
		font-size: var(--font-size-200);
		padding: 12px 13px;
	}
}
