.form-control {
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.form-control label {
	font-size: var(--font-size-500);
	line-height: 19px;
}

.input {
	padding: 15px 16px;
	border-radius: 16px;
	border: 1px solid var(--color-grey-100);
	outline: none;
	font-family: inherit;
	font-size: inherit;
	background-color: rgba(217, 217, 217, 0.2);
}

.input:hover,
.input:active {
	border-color: var(--color-grey-300);
}
