@import url("./sidebar.css");

.header__open-sidebar-button {
	display: none;
}

.header-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 15%);
	position: fixed;
	width: 100%;
	background-color: var(--color-white);

	z-index: 100;
}

.header {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
	height: 90px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__content {
	display: flex;
	gap: 50px;
	align-items: center;
}

.header__logo-container :last-child {
	color: var(--color-black);
	font-size: var(--font-size-600);
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -0.72px;
}

.header__logo-container {
	display: flex;
	align-items: center;
}

.header__logo-container:hover,
.header__logo-container:focus,
.header__logo-container:active {
	text-decoration: none;
	cursor: pointer;
}

.navigation__list {
	list-style-type: none;
	display: flex;
	gap: 26px;
}

.navigation__list-item-link {
	font-size: var(--font-size-500);
	font-weight: 500;
	line-height: 1.25;
	color: var(--color-black);
}

.navigation__list-item-link--active {
	text-decoration: underline;
}

.header__control-btn {
	font-size: var(--font-size-500);
	text-decoration: none;
	padding: 5px 37px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__control-btn--active {
	font-size: var(--font-size-500);
	text-decoration: none;
	padding: 5px 32px;
	border-color: var(--color-red);
	color: var(--color-red);
	background-color: var(--color-white);
}

.header__control-btn--active:hover,
.header__control-btn--active:focus,
.header__control-btn--active:active {
	background-color: var(--color-red);
	color: var(--color-white);
}

.controls {
	display: flex;
	gap: 22px;
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
	.header {
		gap: 24px;
	}

	.header__content {
		gap: 40px;
	}

	.header__control-btn {
		padding: 3px 28px;
	}

	.header__control-btn--active {
		padding: 3px 20px;
	}

	.controls {
		gap: 12px;
	}

	.navigation__list {
		gap: 16px;
	}

	.header__logo-container :last-child {
		font-size: var(--font-size-500);
	}

	.navigation__list-item-link {
		font-size: var(--font-size-400);
	}
}

@media (max-width: 768px) {
	.header {
		gap: 14px;
		justify-content: start;
	}

	.header__open-sidebar-button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		width: 30px;
		height: 30px;

		border: 0.85px solid var(--color-grey-300);
		border-radius: 8px;
		transition: border 0.2s ease-in-out;
	}

	.header__open-sidebar-button:hover,
	.header__open-sidebar-button:active,
	.header__open-sidebar-button:focus {
		border: 0.85px solid var(--color-grey-200);
	}

	.header__logo-container :last-child {
		font-size: var(--font-size-600);
	}

	.controls {
		display: none;
	}

	.navigation {
		display: none;
	}
}

@media (max-width: 480px) {
	.header__logo-container :first-child {
		width: 51px;
		height: 33px;
	}

	.header__logo-container :last-child {
		font-size: var(--font-size-400);
	}
}

@media (max-width: 320px) {
}
