.sidebar-button {
	display: none;
}

.header-container {
	box-shadow: 0 0 10px rgba(0, 0, 0, 15%);
	position: fixed;
	width: 100%;
	background-color: var(--color-white);

	z-index: 100;
}

.header {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
	height: 90px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__content {
	display: flex;
	gap: 50px;
	align-items: center;
}

.header__logo-container :first-child {
	width: 64px;
}

.header__logo-container :last-child {
	color: var(--color-black);
	font-size: var(--font-size-600);
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: -0.72px;
}

.header__logo-container {
	display: flex;
	align-items: center;
}

.header__logo-container:hover,
.header__logo-container:focus,
.header__logo-container:active {
	text-decoration: none;
	cursor: pointer;
}

.navigation__list {
	list-style-type: none;
	display: flex;
	gap: 26px;
}

.navigation__list-item-link {
	font-size: var(--font-size-500);
	font-weight: 500;
	line-height: 1.25;
	color: var(--color-black);
}

.navigation__list-item-link--active {
	text-decoration: underline;
}

.header__control-btn {
	font-size: var(--font-size-500);
	text-decoration: none;
	padding: 5px 37px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__control-btn--active {
	font-size: var(--font-size-500);
	text-decoration: none;
	padding: 5px 32px;
	border-color: var(--color-red);
	color: var(--color-red);
	background-color: var(--color-white);
}

.header__control-btn--active:hover,
.header__control-btn--active:focus,
.header__control-btn--active:active {
	background-color: var(--color-red);
	color: var(--color-white);
}

.controls {
	display: flex;
	gap: 22px;
}

.avatar-button {
	width: 36px;
	height: 36px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	border-radius: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.avatar-button__image {
	object-fit: cover;
}

.user-profile-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.user-menu-container {
	position: absolute;
	top: 120%;
	right: 0;
	z-index: 1;
}

.user-menu {
	min-width: 260px;
	border-radius: 15px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
}

.user-menu__header {
	display: flex;
	justify-content: left;
	gap: 12px;
	padding: 16px 16px 12px 12px;
}

.user-menu__header-avatar {
	width: 50px;
	height: 50px;
	border-radius: 90px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-menu__header-avatar-image {
	object-fit: cover;
}

.user-menu__header-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;
}

.user-menu__header-info-fullname {
	font-size: var(--font-size-600);
	font-weight: 500;
	letter-spacing: -0.04em;
	line-height: 17px;
}

.user-menu__header-info-email {
	font-size: var(--font-size-200);
	font-weight: 300;
	letter-spacing: -0.04em;
	line-height: 10px;
	color: var(--color-grey-400);
}

.user-menu__item {
	padding: 10px 16px;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: 0.2s all ease;
	text-decoration: none;
}

.user-menu__item:hover {
	cursor: pointer;
	background-color: var(--color-grey-900);
}

.user-menu__item-name {
	font-size: var(--font-size-200);
	font-weight: 400;
	line-height: 12px;
}

.user-menu__cta-button {
	font-size: var(--font-size-400);
	font-weight: 400;
	line-height: 20px;
}

.user-menu__item-name {
	color: var(--color-black);
}

.user-menu__cta {
	padding: 10px 18px;
}

.user-menu__cta-button {
	padding: 3px 0;
	text-decoration: none;
}

@media (max-width: 1024px) {
	.header {
		gap: 24px;
	}

	.header__logo-container :last-child {
		display: none;
	}

	.header__content {
		gap: 20px;
	}

	.header__control-btn {
		padding: 3px 28px;
	}

	.header__control-btn--active {
		padding: 3px 20px;
	}

	.controls {
		gap: 12px;
	}

	.navigation__list {
		gap: 16px;
	}

	.header__logo-container :last-child {
		font-size: var(--font-size-500);
	}

	.navigation__list-item-link {
		font-size: var(--font-size-500);
	}
}

@media (max-width: 768px) {
	.header {
		gap: 14px;
		justify-content: start;
	}

	.sidebar-button {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: transparent;
		width: 30px;
		height: 30px;

		border: 0.85px solid var(--color-grey-300);
		border-radius: 8px;
		transition: border 0.2s ease-in-out;
	}

	.header__logo-container :last-child {
		display: block;
	}

	.sidebar-button:hover,
	.sidebar-button:active,
	.header:focus {
		border: 0.85px solid var(--color-grey-200);
	}

	.header__logo-container :last-child {
		font-size: var(--font-size-600);
	}

	.controls {
		display: none;
	}

	.navigation {
		display: none;
	}
}

@media (max-width: 480px) {
	.header__logo-container :first-child {
		width: 51px;
		height: 33px;
	}

	.header__logo-container :last-child {
		font-size: var(--font-size-400);
	}
}
