.mobile-sidebar-backdrop {
	display: none;
	transition: background-color 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar {
	width: 306px;
	height: 100%;
	background-color: var(--color-white);
	border-radius: 0px 10px 10px 0;
	position: fixed;
	transform: translateX(-100vw);
	transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-sidebar-backdrop.is-open .sidebar {
	transform: translateX(0);
}

@media (max-width: 840px) {
	.mobile-sidebar-backdrop.is-open {
		display: block;
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.05);
	}

	.sidebar__close-button {
		background-color: transparent;
		border: 1px solid transparent;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 26px;
		right: 18px;
		transition: border 0.2s ease-in-out;
	}

	.sidebar__close-button:hover,
	.sidebar__close-button:focus,
	.sidebar__close-button:active {
		border: 1px solid var(--color-grey-200);
		border-radius: 50%;
	}

	.sidebar__content {
		padding: 30px 12px;
	}

	.sidebar__navigation {
		padding: 25px 18px;
	}

	.sidebar__navigation-list {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.sidebar__navigation-list-item-link {
		display: flex;
		gap: 12px;
		align-items: center;

		font-size: var(--font-size-500);
		font-weight: 500;
		color: var(--color-black);
	}

	.sidebar__navigation-list-item-link:first-child {
		width: 16px;
		height: 16px;
	}

	.sidebar__separator {
		border: none;
		border-top: 1px solid rgba(183, 183, 183, 0.5);
	}

	.sidebar__controls {
		padding: 16px 8px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.sidebar__control-btn {
		padding: 6px 28px;
		line-height: 1;
		font-size: var(--font-size-400);
		text-decoration: none;
	}

	.sidebar__control-btn--active {
		padding: 6px 28px;
		line-height: 1;
		font-size: var(--font-size-400);
		text-decoration: none;
		border-color: var(--color-red);
		color: var(--color-red);
		background-color: var(--color-white);
	}

	.sidebar__control-btn--active:hover,
	.sidebar__control-btn--active:focus,
	.sidebar__control-btn--active:active {
		background-color: var(--color-red);
		color: var(--color-white);
	}
}

@media screen and (max-width: 480px) {
	.sidebar__logo-container :first-child {
		width: 51px;
		height: 33px;
	}

	.sidebar__navigation-list-item-link {
		font-size: var(--font-size-300);
	}

	.sidebar__control-btn,
	.sidebar__control-btn--active {
		font-size: var(--font-size-300);
	}
}
