.user-menu {
	min-width: 215px;
	border-radius: 15px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
}

.user-menu__header {
	display: flex;
	justify-content: center;
	gap: 13px;
	padding: 16px 16px 12px 16px;
}

.user-menu__header-avatar {
	width: 46px;
	height: 46px;
	border-radius: 90px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-menu__header-avatar-image {
	object-fit: cover;
}

.user-menu__header-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-menu__header-info-fullname {
	font-size: var(--font-size-400);
	font-weight: 500;
	letter-spacing: -0.04em;
	line-height: 17px;
}

.user-menu__header-info-email {
	font-size: var(--font-size-50);
	font-weight: 300;
	letter-spacing: -0.04em;
	line-height: 10px;
}

.user-menu__settings {
	padding: 10px 16px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.user-menu__settings-label,
.user-menu__cta-button {
	font-size: var(--font-size-100);
	font-weight: 400;
	line-height: 12px;
}

.user-menu__cta {
	padding: 10px 18px;
}

.user-menu__cta-button {
	padding: 3px 0;
	text-decoration: none;
}
