.badges {
	display: flex;
	gap: 10px;
}

.badge {
	line-height: 19px;
	padding: 2px 13px;
	border-radius: 7px;
}

.badge--yellow {
	background-color: var(--color-yellow-100);
}

.badge--green {
	background-color: var(--color-green-100);
}

.badge--blue {
	background-color: var(--color-blue-100);
}

.badge--pink {
	background-color: var(--color-pink-100);
}

.badge--orange {
	background-color: var(--color-orange-100);
}

.badge--lime {
	background-color: var(--color-green-200);
}

.badge--aqua {
	background-color: var(--color-blue-200);
}

.badge--purple {
	background-color: var(--color-purple-100);
}

@media (max-width: 480px) {
	.badges {
		gap: 8px;
	}

	.badge {
		line-height: 15px;
		padding: 2px 10px;
		border-radius: 7px;
		font-size: var(--font-size-400);
	}
}
