.main {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
}

.search__form .form-control {
	flex-direction: row;
	align-items: center;
	gap: 31px;
}

.search__form {
	position: relative;
	max-width: 648px;
	width: 100%;
	margin-top: 41px;
}

.search__icon-container {
	position: absolute;
	right: 16px;
	top: 14px;
}

.input.search__input {
	width: 100%;
	padding-right: 48px;
}

.search__icon {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.search__icon-container {
	width: 24px;
	height: 24px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.search-result {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.search-results {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 40px 0 20px;
}

.search-results__heading {
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
}

.word-container {
	display: flex;
	align-items: center;
	gap: 34px;
}

.word {
	color: var(--color-red);
	font-size: var(--font-size-750);
	font-weight: 600;
}

.play-transcription-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: transform ease-out 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.play-transcription-btn:hover {
	transform: scale(1.03);
}

.transcription {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: var(--font-size-500);
}

.badges {
	display: flex;
	gap: 10px;
}

.badge {
	line-height: 19px;
	padding: 2px 13px;
	border-radius: 7px;
}

.badge--yellow {
	background-color: var(--color-yellow-100);
}

.badge--green {
	background-color: var(--color-green-100);
}

.badge--blue {
	background-color: var(--color-blue-100);
}

.badge--pink {
	background-color: var(--color-pink-100);
}

.badge--orange {
	background-color: var(--color-orange-100);
}

.badge--lime {
	background-color: var(--color-green-200);
}

.badge--aqua {
	background-color: var(--color-blue-200);
}

.badge--purple {
	background-color: var(--color-purple-100);
}

.definitions__header {
	font-size: var(--font-size-725);
}

.definition__word {
	font-size: var(--font-size-600);
	line-height: 23px;
}

.definition-list {
	padding-left: 20px;
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.definition-list-item {
	font-size: var(--font-size-500);
}

.definitions-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.example {
	font-style: italic;
	font-size: var(--font-size-400);
}

.loader-container {
	display: grid;
	place-content: center;
	width: 100%;
	padding: 80px 0;
}

.error-message--word {
	margin-left: 87px;
}

.search-not-found {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	margin: 100px 0;
}

.search-not-found__heading {
	font-size: var(--font-size-850);
	font-weight: 600;
}

.search-not-found__image-container {
	width: 500px;
	height: 360px;
}

.search-not-found__image {
	width: 100%;
	height: auto;
	object-fit: contain;
}
