.main {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;
}

.hero-container {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	padding-top: 130px;
	margin-bottom: 65px;
}

.hero-description-container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.sub-title,
.advantages-list-item {
	font-size: var(--font-size-725);
}

.sub-title {
	color: var(--color-grey-200);
	font-weight: 400;
}

.advantages-list {
	list-style-type: none;
	padding-left: 0;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.advantages-list-item {
	padding-left: 50px;
	position: relative;
	font-weight: 300;
}

.advantages-list-item::before {
	content: "";
	width: 30px;
	height: 30px;
	background-image: url("../../assets/icons/bullet-list.svg");
	background-size: cover;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	margin-right: 10px;
}

.underlined-text {
	text-decoration: underline;
	text-underline-position: under;
}

.heading {
	font-size: var(--font-size-950);
	margin-bottom: -10px;
	text-wrap: nowrap;
}

.reviews-container {
	display: flex;
	justify-content: space-around;
	padding: 65px 0;
}

.gradient-text {
	color: transparent;
	background-clip: text;
	background-image: linear-gradient(
		63deg,
		var(--color-red) -20%,
		var(--color-red-200)
	);
}

.cta-start {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 46px 0 72px 0;
}

.cta-start__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 14px;
}

.cta-start__heading {
	font-size: var(--font-size-900);
	line-height: 58px;
}

.cta-start__button {
	width: 295px;
	text-decoration: none;
}

.hero-image-container {
	max-width: 530px;
	width: 100%;
}

.hero-image {
	object-fit: contain;
	width: 100%;
	height: auto;
}

@media (max-width: 1200px) {
	.hero-container {
		align-items: center;
	}

	.reviews-container .review-control {
		max-width: 450px;
		width: 100%;
		padding: 10px;
	}
}

@media (max-width: 1024px) {
	.heading {
		font-size: var(--font-size-925);
	}

	.sub-title,
	.advantages-list-item {
		font-size: var(--font-size-700);
	}

	.advantages-list-item {
		padding-left: 35px;
	}

	.advantages-list-item::before {
		width: 25px;
		height: 25px;
	}

	.reviews-container {
		gap: 24px;
	}

	.hero-description-container {
		gap: 36px;
	}

	.advantages-list {
		height: 130px;
	}

	.hero-container {
		gap: 36px;
	}

	.review-control .content {
		font-size: var(--font-size-600);
	}

	.cta-start__heading {
		font-size: var(--font-size-850);
	}
}

@media (max-width: 768px) {
	.hero-container {
		flex-direction: column;
		padding-top: 120px;
		margin-bottom: 50px;
	}

	.sub-title {
		text-align: center;
	}

	.advantages-list {
		padding-left: 55px;
	}

	.hero-image-container {
		max-width: 460px;
	}

	.hero-description-container {
		padding: 0 20px;
		overflow: hidden;
	}

	.reviews-container {
		padding: 50px 0;
	}

	.cta-start {
		padding: 50px 0;
	}
}

@media (max-width: 480px) {
	.heading {
		font-size: var(--font-size-875);
		text-align: center;
	}

	.sub-title {
		font-size: var(--font-size-500);
	}

	.advantages-list {
		padding-left: 20px;
		height: 105px;
	}

	.advantages-list-item {
		font-size: var(--font-size-500);
		text-wrap: nowrap;
	}

	.hero-description-container {
		gap: 24px;
	}

	.reviews-container {
		flex-direction: column;
	}

	.cta-start__heading {
		font-size: var(--font-size-800);
		line-height: 38px;
	}
}
