.main {
	flex: 1;
}

.error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
}

.error-code,
.error-description {
	font-weight: 700;
}

.error-code {
	font-size: var(--font-size-950);
	color: var(--color-red);
	line-height: 87px;
}

.error-description {
	font-size: var(--font-size-900);
	line-height: 58px;
}

.main-page-link {
	font-size: var(--font-size-600);
	font-weight: 500;
}

@media (max-width: 768px) {
	.error-code {
		font-size: var(--font-size-925);
		line-height: 60px;
	}

	.error-description {
		font-size: var(--font-size-850);
		line-height: 42px;
	}

	.main-page-link {
		font-size: var(--font-size-500);
	}
}

@media (max-width: 480px) {
	.error-code {
		font-size: var(--font-size-900);
		line-height: 46px;
	}

	.error-description {
		font-size: var(--font-size-800);
		line-height: 36px;
	}

	.main-page-link {
		font-size: var(--font-size-400);
	}
}
