.main {
	max-width: 1280px;
	width: 100%;
	margin: 90px auto 0;
	padding: 0 24px;
}

.container {
	padding-top: 40px;
}

.profile-settings {
	display: flex;
	gap: 112px;
}

.profile-settings__content {
	width: 100%;
}

.form-container {
	width: 100%;
}

.image-container {
	width: 200px;
	height: 200px;
	border: 1px solid rgba(156, 156, 156, 0.68);
	box-shadow: 0 0 5px rgba(0, 0, 0, 15%);
	border-radius: 50%;
	background-color: var(--color-white);

	display: flex;
	justify-content: center;
	align-items: center;
}

.heading {
	font-size: var(--font-size-900);
	text-align: center;
	margin-bottom: 28px;
}

.form__heading {
	font-size: var(--font-size-800);
	font-weight: 500;
	margin-bottom: 12px;
}

.change-name__input-label {
	font-size: var(--font-size-600);
	font-weight: 500;
	margin-top: 18px;
}

.change-name__btn {
	width: 170px;
	height: 38px;
	font-size: var(--font-size-500);
	border-color: var(--color-red);
	color: var(--color-red);
	background-color: var(--color-white);
	text-decoration: none;

	margin-left: auto;
	margin-top: 16px;
}

.change-name__btn:hover,
.change-name__btn:focus,
.change-name__btn:active {
	border: 2px solid transparent;
	background-color: var(--color-red);
	color: var(--color-white);
}

.delete-account__heading {
	font-size: var(--font-size-800);
	font-weight: 500;
	margin-bottom: 12px;
	color: var(--color-red-300);
}

.delete-account__prompt {
	font-size: var(--font-size-400);
	font-weight: 500;
	color: var(--color-grey-800);
	margin-top: 10px;
	margin-bottom: 16px;
	max-width: 525px;
}

.delete-account__btn {
	width: 172px;
	height: 38px;
	font-size: var(--font-size-500);
	margin-bottom: 30px;
}

.modal-overlay {
	position: fixed;
	inset: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 50%);
	backdrop-filter: blur(1px);
	display: grid;
	place-content: center;
}

.modal {
	width: 550px;
	padding: 30px 50px 20px 50px;
	border-radius: 16px;
	background-color: var(--color-grey-600);
	display: flex;
	flex-direction: column;
	gap: 24px;
	transform: scale(0);
	animation: 0.2s ease-out appear forwards;
}

@keyframes appear {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.modal__controls {
	display: flex;
	gap: 16px;
}

.modal__btn {
	font-size: var(--font-size-500);
	padding: 5px 10px;
}

.modal__control-cancel {
	background-color: var(--color-grey-600);
	color: var(--color-red);
	border-color: var(--color-red);
}

.modal__control-cancel:hover,
.modal__control-cancel:active {
	background-color: var(--color-red);
	color: var(--color-grey-600);
	border-color: transparent;
}

.modal__message {
	text-align: center;
	font-size: var(--font-size-700);
}

.modal__messages {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__message-warning {
	color: var(--color-grey-800);
	line-height: 14px;
}

@media (max-width: 768px) {
	.heading {
		font-size: var(--font-size-800);
	}

	.form__heading {
		font-size: var(--font-size-750);
	}

	.delete-account__heading {
		font-size: var(--font-size-750);
	}

	.profile-settings {
		gap: 50px;
		flex-direction: column-reverse;
	}

	.image-container {
		width: 150px;
		height: 150px;
		margin-left: auto;
		margin-right: auto;
	}

	.profile-image {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 480px) {
	.heading {
		font-size: var(--font-size-800);
	}

	.form__heading {
		font-size: var(--font-size-725);
	}

	.delete-account__heading {
		font-size: var(--font-size-725);
	}

	.delete-account__btn,
	.change-name__btn {
		width: 150px;
		height: 30px;
		font-size: var(--font-size-300);
	}

	.change-name__btn {
		margin-bottom: 20px;
	}

	.image-container {
		width: 125px;
		height: 125px;
	}

	.profile-image {
		width: 75px;
		height: 75px;
	}
}
