.wrapper {
	display: grid;
	place-content: center;
	height: 100vh;
}

.container {
	min-width: 675px;
	width: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 15%);
	border-radius: 33px;
}

.error-message {
	color: var(--color-red);
	font-size: var(--font-size-200);
	margin: 5px 0 3px 5px;
}
