<div class="avatar-button">
    <img class="avatar-button__image" src=" <%= locals.image ? image : '/assets/images/default-avatar.png' %>" alt="">
</div>

<div class="user-menu-container hidden">
    <%- include('../components/user-menu.ejs', {
        user: user,
    }) %>
</div>
