<!-- size: 'small' | 'medium' | 'large' | 'huge' -->
<div class="loader loader--<%= locals.size || 'small' %>">
  <div class="loader-dot"></div>
  <div class="loader-dot"></div>
  <div class="loader-dot"></div>
  <div class="loader-dot"></div>
  <div class="loader-dot"></div>
  <div class="loader-dot"></div>
</div>
