<div class="password-input-container">
    <%- include('../components/input.ejs', {
      id: "password",
      label: "Password",
      type: "password",
      placeholder: "***********",
    }); %>
    <button class="toggle-password-btn" id="togglePassword">
      <img src="/icons/eye-password.svg" alt="" class="show-password-icon">
    </button>
  </div>