<div class="review-control">
    <img class="profile-image" src="<%= locals.imageUrl ? imageUrl : "/assets/images/default-review-profile-picture.png" %>" alt="">
    <p class="content">"<%= content %>"</p>
    <p class="author-props">- <%= authorProps %></p>
</div>