<div class="review-control">
    <img class="profile-image" src="<%= locals.imageUrl ? imageUrl : "/assets/images/default-review.png" %>" alt="">
    <p class="content">"<%= locals.content ? content : "Ваш онлайн словник - зручний і швидкий помічник у світі слів." %>"</p>
    <p class="author-props">- <%= locals.authorProps ? authorProps : "Відома людина" %></p>
</div>